
html {
    background-color: black;
}

body {
    padding: 0;
    margin: 0;
}

h1 {
    display:flex;
    align-items: center;
    justify-content: center;
    color:blanchedalmond;
    font-style: oblique;
    text-shadow: 2px 2px gray;
}

 #textBox, #buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

 textarea {
    border-left: 6px solid gold;
    padding-left: 0;
    padding-right: 0;
}

 li {
    display: inline;
}

nav  {
    height: 30px;
    background-color: silver;
    margin-top: -17px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

nav ul li {
    color: black;
    font-weight: bold;
    font-style: oblique;
}

button {
    background-color:beige;
    border-radius: 20px;
}

button:hover {
    transition: color 250ms ease 50ms;
    filter: brightness(200%);
    box-shadow: 5px 5px 5px #fdfdfd;
}


button:active {
    box-shadow: inset 2px 2px 5px #fdfdfd;
}


