textarea  {
    width: 75%;
    height:200%;
}

 form.container {
    border: 1px solid black;
    padding-left: 0%;
    padding-right: 5%;
    height:fit-content;
    width: 40%;
    background-color:white;
    border-radius: 25px;
}
.create {
    display:flex;
    float:right;
    margin-top: 1%;
    font-weight: bold;
}

#description {
    resize: none;
}

.inputContainer {
    margin:auto;
    width:70%;
    height: fit-content;
}

button {
    background-color:rgb(108, 108, 106);
    border-radius: 20px;
}

button:hover {
    transition: color 250ms ease 50ms;
    filter: brightness(100%);
    box-shadow: 5px 5px 5px #3b3535;
}


button:active {
    box-shadow: inset 2px 2px 5px #40f0a4;
}