<form class="container" (ngSubmit)="taskData($event)">
    <button class="create" type="submit">create task</button><br>
    <h2 class="taskSaved"></h2>
    <div class="inputContainer">
        <h1 >Task</h1> <br>
        <h2>Title:</h2><input placeholder="title" id="title" type="text" (input)="setTitle($event)"> 
        <h2>Description:</h2> <textarea placeholder="(optional)" id="description" (input)="setDesc($event)"></textarea>
        <!--(input)="setDesc($event)-->
    </div>
</form>

<!-- <h2>Title:</h2><input placeholder="title" id="title" type="text" [(ngModel)]="title"> 
        <h2>Description:</h2> <textarea placeholder="(optional)" id="description" [(ngModel)]="description"></textarea> -->
