<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
 
 
</style>

<head> 
    <meta charset="utf-8"/>
    <!-- <link rel="stylesheet" href="styles.css"/> -->
</head>
<div id="wholePage">

  <body>
      <nav >
        <app-layout></app-layout>
      </nav>
      
      <h1>Note Pro Task Manager</h1>
      <div id="container">
          <div id="textBox">
              <textarea id="NoteBox" name="noteArea" rows="4" cols="90">
                  (Type here)
              </textarea>
          </div>
          
          <div id="buttonContainer">
              <button id="add">New Task</button>
              <button id="delete">Delete Task</button>
          </div>
          
      </div>
  </body>
   
     
      <app-task></app-task>
</div>




 
  



  

    <!-- <button class="card card-small" (click)="selection.value = 'build'" tabindex="0">
      <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
      <span>Build for Production</span>
    </button> -->
 


  


  <!-- Footer -->
  <footer>
      
  </footer>



<router-outlet></router-outlet>
