#wholePage {
    background-color: #f50d0d;
}

body {
    background-color: rgb(206, 199, 199);
    padding: 0;
    margin: 0;
}

h1 {
    display:flex;
    align-items: center;
    justify-content: center;
    color:blanchedalmond;
    font-style: oblique;
    text-shadow: 2px 2px gray;
}

 #textBox, #buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

 textarea {
    border-left: 6px solid gold;
    padding-left: 0;
    padding-right: 0;
}

 li {
    display: inline;
}

nav  {
    height: 30px;
    background-color: rgb(14, 133, 173);
    margin-top: -17px;
}

button {
    background-color:rgb(108, 108, 106);
    border-radius: 20px;
}

button:hover {
    transition: color 250ms ease 50ms;
    filter: brightness(200%);
    box-shadow: 5px 5px 5px #3b3535;
}


button:active {
    box-shadow: inset 2px 2px 5px #3b3535;
}