<!--The following code uses bootstrap demonstrated from https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_navbar_right&stacked=h-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <h1 class="navbar-brand" style="padding-top: 2%;">Note Pro Task Manager</h1>
      </div>
      <ul class="nav navbar-nav" style="display: flex;  padding-top: 1%;">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>