
    <form class="container">
        <h2 id="edit" style="float: left; height: fit-content;">&#xFE19;</h2>
        <button class="complete" style="background-color: rgb(249, 234, 234);">complete</button><br>
        <div class="inputContainer">
            <h1 >Task Title</h1> <br>
            <p id="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
    </form>

<!-- <div id="buttonContainer">
    <button id="add">New Task</button>
    <button id="delete">Delete Task</button>
</div> -->