
 #textBox, #buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

input.description  {
    height: 20%;
    width: 30%;
    box-sizing: border-box;
}

@keyframes colorAnimation {
    0%   {background-color: white;}
    25%  {background-color: yellow;}
    50%  {background-color: green;}
    100% {background-color: red;}
  }
 form.container {
    border-left: 4px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-left: 0%;
    padding-right: 0%;
    height:fit-content;
    width: 45%;
    background-color:white;
}
.complete {
    display:flex;
    float:right;
    animation-name: colorAnimation;
    animation-duration: 3s;
    animation-iteration-count: 2;
}

label.complete{
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
}

.inputContainer {
    margin:auto;
    width:10%;
    height: fit-content;
}

button {
    background-color:rgb(108, 108, 106);
    border-radius: 20px;
}

button:hover {
    transition: color 250ms ease 50ms;
    filter: brightness(200%);
    box-shadow: 5px 5px 5px #3b3535;
}


button:active {
    box-shadow: inset 2px 2px 5px #3b3535;
}